.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px auto;
  width: 736px;
  height: 72px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  
  gap: 12px;

  background: var(--gray-400);
  
}

.taskContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-100);
  padding: 16px;
  font-size: 14px;
}

.buttonCheck {
  background: transparent;
}

.buttonTrash {
  background: transparent;
}